[submodule "assets/revenge-typeface"]
	path = assets/revenge-typeface
	url = https://github.com/Dicotype/Afacad.git
[submodule "assets/assets/revenge-typeface"]
	path = assets/assets/revenge-typeface
	url = https://github.com/Dicotype/Afacad.git
